body{
    background-color:rgb(202, 255, 255);
}

#nav{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}

#nav a{
    padding: 1.5px;
    padding-right: 5px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#nav a:hover {
    background-color: azure;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown{
    overflow: hidden;
    
}

.dropdown .dropbtn{
    font-size: 25px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
}

.dropdown:hover{
    background-color: azure;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropcontent {
    display: none;
    position: absolute;
    max-width: 160px;
    background-color: rgb(202, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropcontent a{
    float: none;
    font-size: 12px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.dropcontent a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropcontent{
    display: block;
}

h1{
    text-align: center;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#content{
    display: block;
    justify-content: center;
}

#spongebob img{
    display: block;
    margin: auto;
    width: 240px; 
    height: 350px;
}

#ralph img{
    display: block;
    margin: auto;
    width: 240px; 
    height: 350px;
}


p{
    text-align: center;
    margin: 20px 60px;
}  

.info{
    text-align: center;
    color: aliceblue;
}

.tinfo{
    color: black;
}

a{
    display: inline-block
}

#spongebob{
    background-image: url("../Images/SpongeBack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

#spongebob p{
    color: #fff360;
}

#ralph{
    background-image: url("../Images/fixitback.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

#ralph p{
    color: bisque;
}